
body{
  background-color: #0D1F2D;
  background-image: url(images/fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #9EA3B0;
  font-family: 'Karla', sans-serif;
}
.titulo{
  font-size: 60px;
  text-align: center;
  text-
}

.titulo span{
  color: #F76C5A;
}
